ul {
  list-style: none;
}

footer {
  font-size: 0.8em;
}

/* icon colors */
*.icon-sun {
  color: yellow;
}

*.icon-umbrella {
  color: blue;
}

*.icon-cloud-dark {
  color: gray;
}

*.icon-cloud-light {
  color: lightgray;
}

.fill {
  height: calc(100vh - 105px);
}

#alert-overlay {
  position: fixed;
  width: 100%;
  height: 50px;
  left: 0;
  right: 0;
  bottom: 35px;
  z-index: 2;
}
