ul {
  list-style: none;
}

#content {

}

footer {
  font-size: 0.8em;
}

/* icon colors */
*.icon-sun {
  color: yellow;
}

*.icon-umbrella {
  color: blue;
}

*.icon-cloud-dark {
  color: gray;
}

*.icon-cloud-light {
  color: lightgray;
}

.fill {
  height: 100vh;
}
