.wheater-background {
  width: 120px;
  background: #2d3687;
  background: -moz-linear-gradient(top, #2d3687 0%, #3dbcec 60%);
  background: -webkit-linear-gradient(top, #2d3687 0%, #3dbcec 60%);
  background: linear-gradient(to bottom, #2d3687 0%, #3dbcec 60%);
}

